/* CSS reset */

html, body {
  margin: 0;
  padding: 0;
  
}
body {
  background: url('assets/freedom.jpg') no-repeat center center fixed;
  background-size: cover;
  
}

.content {
  text-align: center;
  width: 70%;
  margin: 0 auto;
}

.quote {
  font-variant: small-caps;
  font-size: 2rem;
}

.by {
  font-family: Georgia, 'Times New Roman', Times, serif;
}
